.candidate-info {
  display: flex;
  flex-direction: column;
}
.about {
  display: flex;
  margin: 50px 0px;
  img {
    width: 25%;
    margin-right: 100px;
  }
  h1 {
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  p {
    margin: 40px 0px;
  }
}
